@use "./themes.scss";
@use "./variables.scss";
@use "./fonts.scss";

html {
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  font-family: "Alexandria", sans-serif;
  // background: variables.$secondary-color;
  // color: variables.$font-color;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.full-size {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: lightblue;
}
#root {
  height: 100%;
  direction: inherit; // Let it inherit from <html>
}
